#arbol1{
    font-size: 100px;
}
#arbol2{
    font-size: 120px;
}
#arbol3{
    font-size: 90px;
}
#casa1{
    font-size: 110px;
}
#edificio1{
    font-size: 120px;
}
#edificio2{
    font-size: 130px;
}
#casa2{
    font-size: 140px;
}
#casa3{
    font-size: 110px;
}
#arbol4{
    font-size: 100px;
}
#arbol5{
    font-size: 90px;
}