body{
    font-family:"Edu NSW ACT Cursive", cursive;
    }
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 24px;
}
.pendiente{
    color: blue;
}
.haciendo{
    color: orange;
}
.cancelada{
    color: red;
}
.hecha{
    color: green;
}
