
#pastel{
    font-size: 30px;
}
.pastel{
    font-family: "Libertinus Sans", sans-serif;
    list-style-type: none;
    padding: 0%;
}
.rosita{
    background-color: #F5B7B1;
}
.violetita{
    background-color: #D7BDE2;
}
.celestito{
    background-color: #AED6F1;
}
.amarillito{
    background-color: #F9E79F;
}
.naranjita{
    background-color: #FAD7A0;
}
#verdes{
    font-size: 30px;
}
.verdes{
    font-family: 'Courier New', Courier, monospace;
    list-style-type: none;
    padding: 0%;
    
}
.verde1{
    background-color: rgb(152, 251, 152);
}
.verde2{
    background-color: rgb(144, 238, 144);
}
.verde3{
    background-color: rgb(60, 179, 113);
}
.verde4{
    background-color: rgb(46, 139, 87);
}
.verde5{
    background-color: rgb(34, 139, 34);
}
#vibrante{
    font-size: 30px;
}
.vibrante{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
    padding: 0;
}
.vibrante1{
    background-color: hsl(4, 90%, 58%);
}
.vibrante2{
    background-color: hsl(35, 100%, 52%);
}
.vibrante3{
    background-color: hsl(54, 100%, 50%);
}
.vibrante4{
    background-color: hsl(120, 61%, 50%);
}
.vibrante5{
    background-color: hsl(211, 100%, 50%);
}